body{
    color: #aaa;
    background: #000;
}
a{
    color: #00C78A;
}
a:hover{
    background: #00C78A;
    color: #fff;
}
code,pre{
    color:#bbb;
    background:#222;
}
code{
    background: #222;
}
blockquote{
    color: #888;
    border-left: 4px solid #bbb;
}
del{
    color: #ccc;
}
del a{
    color: #ccc;
}
hr{
    border-top:1px dashed #ccc;
}

/* -----------------
header 
-------------------- */
h1{
    color: #00C78A;
}
.desc{
    color: #2F3B39;
}
#nav li a{
    color: #2F3B39;
}
#nav li a.cur{
    color: #00C78A;
}
#nav li a:hover,#footer a:hover{
    color: #00C78A;
    background: none;
}

/* ----------------- 
footer
-------------------- */

#footer{
    color: #2F3B39;
}
#footer a,#footer span{
    color: #263B38;
}

/* -----------------
content 
-------------------- */

.content{
    background: #090909;
}
#post-list .post{
    border-bottom: 1px dashed #555;
}
.post-meta{
    color: #444;
}
.post-content a{
    border-bottom: 1px solid #00C78A;
}
.post-content a:hover{
    border: none;
}
.readmore a,.readmore a:hover{
    border: none;
}
.post-title{
    color: #00C78A;
}
.eof{
    color: #444;
}
#pagination span,#pagination a:hover{
    background: #00C78A;
    color: #fff;
}

.highlight .hll {
    background-color: #222222;
}
.highlight .c {
    color: #7F9F7F;
}
.highlight .err {
    background-color: #222222;
    color: #E37170;
}
.highlight .g {
    color: #7F9F7F;
}
.highlight .k {
    color: #F0DFAF;
}
.highlight .l {
    color: #CCCCCC;
}
.highlight .n {
    color: #DCDCCC;
}
.highlight .o {
    color: #F0EFD0;
}
.highlight .x {
    color: #CCCCCC;
}
.highlight .p {
    color: #41706F;
}
.highlight .cm {
    color: #7F9F7F;
}
.highlight .cp {
    color: #7F9F7F;
}
.highlight .c1 {
    color: #7F9F7F;
}
.highlight .cs {
    color: #CD0000;
    font-weight: bold;
}
.highlight .gd {
    color: #CD0000;
}
.highlight .ge {
    color: #CCCCCC;
    font-style: italic;
}
.highlight .gr {
    color: #FF0000;
}
.highlight .gh {
    color: #DCDCCC;
    font-weight: bold;
}
.highlight .gi {
    color: #00CD00;
}
.highlight .go {
    color: #808080;
}
.highlight .gp {
    color: #DCDCCC;
    font-weight: bold;
}
.highlight .gs {
    color: #CCCCCC;
    font-weight: bold;
}
.highlight .gu {
    color: #800080;
    font-weight: bold;
}
.highlight .gt {
    color: #0040D0;
}
.highlight .kc {
    color: #DCA3A3;
}
.highlight .kd {
    color: #FFFF86;
}
.highlight .kn {
    color: #DFAF8F;
    font-weight: bold;
}
.highlight .kp {
    color: #CDCF99;
}
.highlight .kr {
    color: #CDCD00;
}
.highlight .kt {
    color: #00CD00;
}
.highlight .ld {
    color: #CC9393;
}
.highlight .m {
    color: #8CD0D3;
}
.highlight .s {
    color: #CC9393;
}
.highlight .na {
    color: #9AC39F;
}
.highlight .nb {
    color: #EFEF8F;
}
.highlight .nc {
    color: #EFEF8F;
}
.highlight .no {
    color: #CCCCCC;
}
.highlight .nd {
    color: #CCCCCC;
}
.highlight .ni {
    color: #C28182;
}
.highlight .ne {
    color: #C3BF9F;
    font-weight: bold;
}
.highlight .nf {
    color: #EFEF8F;
}
.highlight .nl {
    color: #CCCCCC;
}
.highlight .nn {
    color: #8FBEDE;
}
.highlight .nx {
    color: #CCCCCC;
}
.highlight .py {
    color: #CCCCCC;
}
.highlight .nt {
    color: #9AC39F;
}
.highlight .nv {
    color: #DCDCCC;
}
.highlight .ow {
    color: #F0EFD0;
}
.highlight .w {
    color: #CCCCCC;
}
.highlight .mf {
    color: #8CD0D3;
}
.highlight .mh {
    color: #8CD0D3;
}
.highlight .mi {
    color: #8CD0D3;
}
.highlight .mo {
    color: #8CD0D3;
}
.highlight .sb {
    color: #CC9393;
}
.highlight .sc {
    color: #CC9393;
}
.highlight .sd {
    color: #CC9393;
}
.highlight .s2 {
    color: #CC9393;
}
.highlight .se {
    color: #CC9393;
}
.highlight .sh {
    color: #CC9393;
}
.highlight .si {
    color: #CC9393;
}
.highlight .sx {
    color: #CC9393;
}
.highlight .sr {
    color: #CC9393;
}
.highlight .s1 {
    color: #CC9393;
}
.highlight .ss {
    color: #CC9393;
}
.highlight .bp {
    color: #EFEF8F;
}
.highlight .vc {
    color: #EFEF8F;
}
.highlight .vg {
    color: #DCDCCC;
}
.highlight .vi {
    color: #FFFFC7;
}
.highlight .il {
    color: #8CD0D3;
}